<div class="aj-main-content" layout="row" layout-wrap>
	<div flex="100" flex-md="50" flex-gt-md="33">
		<md-card>
			<img ng-src="/images/couple.jpg" class="md-card-image">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Spending time with my friends and family</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>
					Blabla some very basic stuff about me and btw this is me and my gf.
				</p>
			</md-card-content>
		</md-card>
	</div>
	<div flex="100" flex-md="50" flex-gt-md="33">
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Some info about me</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>
					The actual info blablablabla blablabla blablalba blabla blablaba blablablabla blabla bla.
				</p>
			</md-card-content>
		</md-card>
	</div>
	<div flex="100" flex-md="50" flex-gt-md="33">
		<md-card>
			<img ng-src="/images/climbing.jpg" class="md-card-image">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Climbing</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>
					During the last year I discovered indoor climbing. It is a perfect sport for me as it tests agility, strength and imagination all at once!
				</p>
			</md-card-content>
		</md-card>
	</div>
<div>